spring:
  datasource:
    url: jdbc:mysql://localhost:3306/grievance_db
    username: grievance_user
    password: grievance123


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

server:
  port: 8080



